.Main_First_Cont_Nav{
    border:  1px solid gray;
    display: flex;
    justify-content: space-evenly;
  
}
.Main_First_Cont_Nav_1{
    // border:  1px solid gray;
   
    width: 50%;
}
.Main_First_Cont_Nav_2{
    // border:  1px solid gray;
   
    width: 50%;
}
.Main_First_Cont_1_Child1{
    // border:  1px solid gray;
    padding: 17px;
    width: 20%;
    margin: auto;
}
.Main_First_Cont_1_Child2{
    // border:  1px solid gray;
    padding: 17px;
    width: 20%;
    margin: auto;
}
.Main_First_Cont_1_Child1:hover{
    cursor: pointer;
    border-bottom: 3px solid rgb(29,155,240);
}
.Main_First_Cont_1_Child2:hover{
    cursor: pointer;
    border-bottom: 3px solid rgb(29,155,240);
}
.Main_First_Cont_Nav_1:hover{
    cursor: pointer;
    background-color: rgb(32,35,39);
}
.Main_First_Cont_Nav_2:hover{
    cursor: pointer;
    background-color: rgb(32,35,39);
}