.SideBar_First_Cont{
    // border:  1px solid white;
}
.Twitter_Icon{
    // border:  1px solid rgb(239, 61, 34);
    display: grid;
    place-items: center;
    width: 5%;
    margin-left: 285px;
    font-size: 30px;
    padding: 10px;
    border-radius: 48%;
}
.Twitter_Icon:hover{
cursor: pointer;
background-color: rgb(32,35,39);
}
.SideBar_Child_Cont{
    // border:  1px solid rgb(19, 68, 10);

    width: 40%;
    margin-left: 270px;
    padding: 7px;
}
.SideBar_Child_Cont:hover{
    cursor: pointer;
}
.SideBar_Options_Button{
    // border:  1px solid rgb(13, 198, 230);
//    width: 90%;
    // border-radius: 10px;
    border: none;
    background-color: black;
}
.SideBar_Button_Cont{
    // border:  1px solid rgb(172, 13, 230);
    display: flex;
    gap: 20px;
    padding: 4px;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 5px;
}
.SideBar_Button_Cont:hover{
    cursor: pointer;
background-color: rgb(32,35,39);
}
.SideBar_Icon_Cont{
    // border:  1px solid rgb(239, 83, 15);
    font-size: 28px;
    padding: 5px;
    display: grid;
    place-items: center;
    color:rgb(226,228,228);
    font-weight: 900;
}
.SideBar_label_Cont{
    // border:  1px solid rgb(95, 102, 233);
    display: grid;
    font-size: 18px;
    place-items: center;
    color:rgb(226,228,228);
    padding: 5px;
    font-weight: 700;
}
.Button_Post_Cont{
    //  border:  1px solid rgb(39, 238, 8);
    //  text-align: center;
     margin-left: 272px;
     width: 44%;
     padding: 10px;
}
.Post_Button{
    // border:  1px solid rgb(39, 238, 8);
    width: 100%;
    padding: 15px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: rgb(29,155,240);
    border: none;
}
.Post_Button:hover{
    cursor: pointer;
    background-color: rgb(16, 144, 229);
}
.User_Button{
//    border:  1px solid rgb(246, 65, 65); 
   display: flex;
//    justify-content: space-between;
gap: 15px;
   margin-left: 272px;
   width: 50%;
   background-color:black;
   margin-top: 15px;
   padding: 10px;
   border: none;
}
.User_Button:hover{
    background-color: rgb(32,35,39);
    border-radius: 50px;
    cursor: pointer;
}
.User_Cont_1{
    // border:  1px solid rgb(246, 65, 65); 
    width: 15%;
}
.User_Image{
    width: 100%;
    border-radius: 50px;
}
.User_Cont_2{
    // border:  1px solid rgb(246, 65, 65); 
    display: grid;
    color: white;
    // margin-top: 10px;
    font-size: 15px;
    text-align: left;
}
.User_Cont_3{
    // border:  1px solid rgb(246, 65, 65); 
    color: white;
    font-size:x-large ;
    margin-top: 10px;
    font-weight: 600;
}
.User_2_Span_2{
    color: rgb(100,105,109);
}
.User_2_Span_1{
    font-weight: 600;
    color: rgb(231,233,234);
}
.Square{
    // border: 1px solid red;
    font-size: 23px;
}