.Main_Second_Second_Cont{
    border:  1px solid gray;
    margin-top: 20px;
    padding: 15px;
    width: 53%;
    border-radius: 30px;
}
.Main_Second_Second_h2_Cont{
    // border:  1px solid gray;
    font-size: larger;
    font-weight: bold;
}