.Main_Third_Cont{
    border-bottom:  1px solid rgb(47,51,54);
    padding: 17px;
    display: grid;
    place-items: center;
}
.Main_Third_Cont:hover{
    cursor: pointer;
    background-color: rgb(32,35,39);
}
.Main_Third_Child_Cont{
    // border:  1px solid gray; 
    color: rgb(25,132,205);
    font-weight: 400;
}